/*
 * Tiny synthetic release committed under tests/data/lincs_mini.
 * Runs on CPU in a few minutes:  nextflow run . -profile test,venv
 */

params {
    release   = 'beta'
    gctx      = "${projectDir}/tests/data/lincs_mini/beta/level5_beta_trt_cp_mini.gctx"
    sig_info  = "${projectDir}/tests/data/lincs_mini/beta/siginfo_beta.txt"
    gene_info = "${projectDir}/tests/data/lincs_mini/beta/geneinfo_beta.txt"
    pert_info = "${projectDir}/tests/data/lincs_mini/beta/compoundinfo_beta.txt"

    seeds      = '0,1'
    epochs     = 15
    hidden     = 128
    batch_size = 64
    device     = 'cpu'
    max_gpu_jobs = 2
}

process {
    resourceLimits = [cpus: 2, memory: 6.GB, time: 1.h]
}
